@font-face{
  font-family: 'Weathered -BRK-';
  src: url('../assets/fonts/WeatheredBRK.ttf');
  font-weight: normal;
  font-style: normal;
}
.container{
  height:100%
}
#myTitl{
  height:15%;
  font-family: "Weathered -BRK-";
}

